
<table class="table table-striped w-100 table-container">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Espacio</th>
      <th>Motivo Reserva</th>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Cantidad Personas</th>
      <th>Estado</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservasContent;
    ">
      <td>{{ reserva.solicitante.nombre }} {{ reserva.solicitante.apellido }}</td>
      <td>{{ reserva.espacioFisico.nombre }}</td>
      <td>{{ reserva.motivoReserva }}</td>
      <td>{{ reserva.fechaHoraInicioReserva | date: 'dd/MM/yyyy' }}</td>
      <td>{{ reserva.fechaHoraInicioReserva | date: 'HH:mm' }} - {{ reserva.fechaHoraFinReserva | date: 'HH:mm' }}</td>
      <td>{{ reserva.cantidadPersonas }}</td>
      <td><span [style.color]="reserva.estado.color">{{ reserva.estado.nombre }}</span></td>
      <td>
        <button class="btn btn-danger" (click)="removeReserva(reserva.id)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>


  <div *ngIf="shouldOpenModalReserva" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
          <button type="button" class="btn btn-primary" (click)="onClose()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</table>






