
<table class="table table-striped table-container">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Espacio</th>
      <th>Motivo Reserva</th>
      <th>Fecha Inicio - Fecha Fin</th>
      <th>Horario</th>
      <th>C. Personas</th>
      <th>R. Solicitados</th>
      <th>Estado</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservasContent;
    ">
      <td>{{ reserva.solicitante.nombre }} {{ reserva.solicitante.apellido }}</td>
      <td>{{ reserva.espacioFisico.nombre }}</td>
      <td>{{ reserva.motivoReserva }}</td>
      <td>{{ reserva.fechaHoraInicioReserva | date: 'dd/MM/yyyy' }} - {{reserva.fechaHoraFinReserva | date: 'dd/MM/yyyy' }}</td>
      <td>{{ reserva.fechaHoraInicioReserva | date: 'HH:mm' }} - {{ reserva.fechaHoraFinReserva | date: 'HH:mm' }}</td>
      <td>{{ reserva.cantidadPersonas }}</td>
      <td>
        <span>
          {{ reserva.recursosSolicitados?.[0]?.nombre ?? '' }}
        </span>
        <div
          *ngIf="(reserva.recursosSolicitados?.length ?? 0) - 1 > 0"
          class="has-tooltip south badge bg-primary"
        >
          +{{ (reserva.recursosSolicitados?.length ?? 0) - 1 }}
          <span
            class="tooltip"
            [innerHTML]="getRecursosForTooltip(reserva?.recursosSolicitados)"
          ></span>
        </div>
      </td>
      <td><span class="estado" [style.background]="reserva.estado.color">{{ reserva.estado.nombre }}</span></td>
      <td>
        <button class="btn btn-warning btn-sm m-1" (click)="openModalReserva(reserva)">
          Edit
        </button>
        <button class="btn btn-danger btn-sm" (click)="removeReserva(reserva.id)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>


  <div *ngIf="shouldOpenModalReserva" class="modal modal-lg" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{isEditing ? 'Editar Reserva' : 'Crear Nueva Reserva'}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reservaForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Solicitante:</span>
              <select class="form-select form-select-lg" aria-label=".form-select-lg" formControlName="solicitanteId">
                <option *ngFor="let solicitante of solicitantes" [value]="solicitante.id">
                  {{ solicitante.nombre }} {{ solicitante.apellido }}
                </option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Espacio físico:</span>
              <select class="form-select form-select-lg" aria-label=".form-select-lg" formControlName="espacioFisicoSeleccionado">
                <option *ngFor="let espacio of espaciosFisicos" [value]="espacio.id" [disabled]="espacio.estado.id === 8">
                  {{ espacio.estado.id === 8 ? espacio.nombre + ' - (Inhabilitado)' : espacio.nombre }}
                </option>
              </select>
            </div>
            <div class="input-group" *ngIf="recursosEspacioFisico.length > 0">
              <label for="resourceTable " class="form-label">Solicitar:</label>
              <table class="table table-hover border" id="resourceTable ">
                <thead>
                  <th class="table-header">Recurso</th>
                  <th class="table-header">Descripción</th>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let recurso of recursosEspacioFisico; let i = index">
                    <td>{{ recurso.nombre }}</td>
                    <td>{{ recurso.descripcion }}</td>
                    <td><input type="checkbox" class="row-select" [checked]="recurso.seleccionado" (change)="onRecursoSeleccionado(recurso)"></td>
                  </tr>
                </tbody>
              </table>
            </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fecha de reserva:</span>
                <input type="date" id="fechaInicio" formControlName="fechaInicio" class="form-control" placeholder="dd/mm/aaaa">
                <span class="input-group-text" id="basic-addon1">Hora de inicio:</span>
                <input type="time" id="horaInicio" formControlName="horaInicio" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fecha fin de reserva:</span>
                <input type="date" id="fechaFin" formControlName="fechaFin" class="form-control" placeholder="dd/mm/aaaa">
                <span class="input-group-text" id="basic-addon1">Hora fin de reserva:</span>
                <input type="time" id="horaFin" formControlName="horaFin" class="form-control">
              </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Motivo de reserva:</span>
              <input type="text" id="motivoReserva" formControlName="motivoReserva" class="form-control">
            </div>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Cantidad de personas:</span>
              <input type="number" id="cantidadPersonas" formControlName="cantidadPersonas" class="form-control">
            </div>
            <small class="text-muted">Máximo para el espacio fisico seleccionado: {{ maxPersonas }} personas.</small>
            <div class="input-group mt-3 mb-3">
              <span class="input-group-text">Comentario:</span>
              <textarea id="comentario" formControlName="comentario" class="form-control"></textarea>
            </div>
          </form>
          <div class="error-message" *ngIf="errorMessage"><i class="bi bi-exclamation-octagon-fill"></i>  {{errorMessage}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
          <button type="button" class="btn btn-primary" (click)="addReserva()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</table>
<nav aria-label="..." class="pagination">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="pageNumbers[0]?.pageNumber === currentPage">
      <a class="page-link" (click)="changeToBackPage()" tabindex="-1">Previous</a>
    </li>
    <li *ngFor="let page of pageNumbers" class="page-item" [class.active]="page?.pageNumber === currentPage">
      <a class="page-link" (click)="changePage(page)">{{ page?.pageNumber }}</a>
    <li class="page-item" [class.disabled]="pageNumbers.length -1 === currentPage">
      <a class="page-link" (click)="changeToNextPage()">Next</a>
    </li>
  </ul>
</nav>






