.table-container {
  width: calc(100% - 100px);
  padding: 20px;
  margin-left: 100px;
}

.modal{
  visibility: visible;
  display: block;
}

.table-header {
  padding: 8px;
}

.input-cantidad-personas{
  width: 100px;
}

.estado {
  padding: 6px;
  border-radius: 8px;
  color: black;
}

.error-message {
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  padding: 20px;
  background-color: #ff4136;
  color: #fff;
}

.pagination {
  margin-left: auto;
  margin-right: 1%;
  z-index: 1;
}
