
<table class="table table-striped w-100 table-container">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Espacio</th>
      <th>Motivo Reserva</th>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Cantidad Personas</th>
      <th>Estado</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservasContent;
    ">
      <td>{{ reserva.solicitante.nombre }} {{ reserva.solicitante.apellido }}</td>
      <td>{{ reserva.espacioFisico.nombre }}</td>
      <td>{{ reserva.motivoReserva }}</td>
      <td>{{ reserva.fechaHoraInicioReserva | date: 'dd/MM/yyyy' }}</td>
      <td>{{ reserva.fechaHoraInicioReserva | date: 'HH:mm' }} - {{ reserva.fechaHoraFinReserva | date: 'HH:mm' }}</td>
      <td>{{ reserva.cantidadPersonas }}</td>
      <td><span [style.color]="reserva.estado.color">{{ reserva.estado.nombre }}</span></td>
      <td>
        <button class="btn btn-danger" (click)="removeReserva(reserva.id)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>


  <div *ngIf="shouldOpenModalReserva" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crear Nueva Reserva</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reservaForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Solicitante:</span>
              <select class="form-select form-select-lg" aria-label=".form-select-lg">
                <option *ngFor="let solicitante of solicitantes" [value]="solicitante.id">
                  {{ solicitante.nombre }} {{ solicitante.apellido }} 
                </option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Espacio físico:</span>
              <select class="form-select form-select-lg" aria-label=".form-select-lg">
                <option *ngFor="let espacio of espaciosFisicos" [value]="espacio.id">
                  {{ espacio.nombre }}
                </option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label for="resourceTable " class="form-label">Recursos solicitados:</label>
              <table class="table table-hover border" id="resourceTable ">
                <thead>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th>1</th>
                    <td>Proyector</td>
                    <td>Marca Lenovo</td>
                    <td><input type="checkbox" class="row-select"></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Proyector</td>
                    <td>Marca Lenovo</td>
                    <td><input type="checkbox" class="row-select"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Fecha de reserva:</span>
              <input type="date" id="fechaInicio" formControlName="fechaInicio" class="form-control" placeholder="dd/mm/aaaa">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Hora de inicio:</span>
              <input type="time" id="horaInicio" formControlName="horaInicio" class="form-control">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Fecha fin de reserva:</span>
              <input type="date" id="fechaFin" formControlName="fechaFin" class="form-control" placeholder="dd/mm/aaaa">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Hora fin de reserva:</span>
              <input type="time" id="horaFin" formControlName="horaFin" class="form-control">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Motivo de reserva:</span>
              <input type="text" id="motivoReserva" formControlName="motivoReserva" class="form-control">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Cantidad de personas:</span>
              <input type="number" id="cantidadPersonas" formControlName="cantidadPersonas" class="form-control">
            </div>
            <div class="input-group">
              <span class="input-group-text">Comentario:</span>
              <textarea id="comentario" formControlName="comentario" class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
          <button type="button" class="btn btn-primary" (click)="addReserva()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</table>






